<main>
    <div class="slider-container">
        <div class="slider">
            <img src="https://img.freepik.com/free-photo/peter-and-paul-fortress-in-summer-dawn_1398-4005.jpg"
                 alt="Санкт-Петербург">
            <img src="https://img.freepik.com/free-photo/tower-bridge-london-uk_268835-1403.jpg" alt="Лондон">
            <img src="https://img.freepik.com/free-photo/statue-of-liberty-and-the-new-york-city-skyline-usa_268835-777.jpg"
                 alt="Нью-Йорк">
        </div>
        <button class="prev-button" onclick="showPreviousSlide()" aria-label="Назад">&lt</button>
        <button class="next-button" onclick="showNextSlide()" aria-label="Вперед">&gt</button>
    </div>
</main>

<script src="/Static/JS/slider.js"></script>
<link href="/Static/CSS/slider.css" rel="stylesheet" type="text/css">
